body {
  background-image: url(../img/background.jpg);
  background-position: left top;
  color: lightgray;
  text-align: justify;
  padding: 10px;
  padding-left: calc(100vw - 100%);
}

#top-row {
  background-image: url(../img/header.jpg);
  background-position: -700px, 0px;
  border: lightgray;
  border-width: thick;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 20px;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: lightgray;
  text-align: center;
  font-family: monospace;
  font-size: 60px
}

h4 {
  font-size: 20px;
  color: #9ed5ff;
  display: block;
  text-align: left;
}

.card {
  display: none;
  text-align: center;
  margin: 1%;
  background-color: rgb(165, 177, 184, 0.1);
  color: lightgray;
  border: white;
  border-width: thick;
  float: left;
  width: 31%;
  min-width: 100px
}

.card img {
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.card a {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.submit {
  display: block;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 50px;
  text-align: center;
  background-color: rgb(74, 74, 74, 0.2);
  color: lightgray;
  border-radius: 5px;
}

.form-control {
  display: block;
}

.survey-q {
  display: block;
  width: 96%;
  margin: 2%;
  float: left;

}

option {
  font-size: 12px;
  color: black;
  font-weight: 600;
}

option:first-child {
  color: lightgray;
  font-weight: 500;
}

.show {
  display: block;
}

#results-row {
  display: none;
}

#survey-row {
  display: none;
}

.results-col {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#reset {
  display: block;
  margin-left: 40%;
  margin-right: auto;
}

#intro {
  background-color: rgb(74, 74, 74, 0.3);
  margin: -2%;
  padding: 2%;
  border: solid thin darkgray;
  border-radius: 2px;
}
