body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  color: lightgray;
  text-align: justify;
  padding: 10px;

}

#top-row {
  background-image: url(../img/header.jpg);
  background-size: cover;
  border: lightgray;
  border-width: thick;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 10px
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: lightgray;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  font-size: 60px
}

h4 {
  font-size: 20px;
  color: #9ed5ff;
}

.card {
  display: block;
  text-align: justify;
  margin: 10px;
  background-color: darkgray;
  color: black;
  border: lightgray;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.card a {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: lightgray
  color: darkgray;
}

.form-control {
  width: 400px;
}

.survey-q {
  margin-top: 20px;
}
